
<h3 class="pageHeader">Maps</h3>
<p>
 The Chart component control allows you to represent data visually in web applications. Depending on the type of data you need to display, you can represent your data as Bars, Columns, Line, Donut, Scattered points or even display them in multiple chart types.
  </p>
  <p>
  Chart manages the underlying complexities inherent in a chart control completely, allowing developers to concentrate on important application specific tasks.  
</p>
<img  src="../../assets/Images/grid.PNG" width="80%" />
<br />
<br />
<h4><b>Key Features</b></h4>
<ul>
  <li><b>Chart Type</b>: Change a line chart to a bar chart or any other chart type by setting a single property. Chart supports four different chart types.</li>
  <li><b>Tooltips</b>: Display chart values using tooltips.</li>
  <li><b>Multiple Series</b>: Add multiple series on a single chart.</li>
  <li><b>Header and Footer</b>: Use simple properties to set a title and footer text.</li>
  <li><b>Legend</b>: Change position of the legend as needed.</li>
</ul>
<br />
<br/>
<h4><b>How to use the control</b></h4>
<p>This section describes how to add a Chart control to your application and add data to it.</p>
<div class="col-md-6">
<b>Html</b>
<div class="code">
    <p>{{mapselector}}</p>
</div>
</div>
<div class="col-md-6">
    <b>TS</b>
    <div class="codeTS">
      <b>gridSampleConfig=</b>
        <p>{{mapModel | json}}</p>
        <br />
    </div>
</div>
